* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;

}

body {
    background: red;
    margin: 0;
    padding: 20px;
}

.white {
    height: 100%;
    padding: 20px;
    background: white;
    overflow: auto;
    white-space: nowrap;

}

.green {
    background: #06ff06;
    height: 100%;
    width: 200px;
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
    overflow: auto;

}

.blue {
    background: blue;
    margin-bottom: 20px;
    min-height: 30px;

}

.h-50 {
    min-height: 50px;
}

.h-100 {
    min-height: 100px;
}

.h-150 {
    min-height: 150px;
}

.bold.underline {
    font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Pacifico', cursive;
}